@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #1C2733;
  --foreground: #FCFDFD;
  
  --card: #233746;
  --card-foreground: #F9FAFB;
  
  --popover: #233746;
  --popover-foreground: #F9FAFB;
  
  /* Primary Orange */
  --primary: #F59E0B;
  --primary-foreground: #ffffff;
  
  --secondary: #334155;
  --secondary-foreground: #F9FAFB;
  
  --muted: #334155;
  --muted-foreground: #94A3B8;
  
  --accent: #2c4257;
  --accent-foreground: #F59E0B;
  
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #334155;
  --input: #334155;
  --ring: #F59E0B;
  
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

